USE [DbBankaTest]
GO
/****** Object:  Table [dbo].[TBLHAREKET]    Script Date: 21.10.2023 12:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAREKET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [char](6) NULL,
	[ALICI] [char](6) NULL,
	[TUTAR] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHESAP]    Script Date: 21.10.2023 12:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHESAP](
	[HESAPNO] [char](6) NULL,
	[BAKIYE] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKISILER]    Script Date: 21.10.2023 12:11:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKISILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](20) NULL,
	[TC] [char](11) NULL,
	[TELEFON] [nchar](15) NULL,
	[HESAPNO] [char](6) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TBLHESAP] ([HESAPNO], [BAKIYE]) VALUES (N'416810', CAST(2758.000 AS Decimal(18, 3)))
INSERT [dbo].[TBLHESAP] ([HESAPNO], [BAKIYE]) VALUES (N'557759', CAST(4785.350 AS Decimal(18, 3)))
INSERT [dbo].[TBLHESAP] ([HESAPNO], [BAKIYE]) VALUES (N'720933', CAST(4582.000 AS Decimal(18, 3)))
GO
SET IDENTITY_INSERT [dbo].[TBLKISILER] ON 

INSERT [dbo].[TBLKISILER] ([ID], [AD], [SOYAD], [TC], [TELEFON], [HESAPNO], [SIFRE]) VALUES (1, N'Emel', N'Öztürk', N'12349008922', N'(532) 345-1512 ', N'801935', N'1')
INSERT [dbo].[TBLKISILER] ([ID], [AD], [SOYAD], [TC], [TELEFON], [HESAPNO], [SIFRE]) VALUES (2, N'test', N'test', N'11111111111', N'(111) 111-1111 ', N'3     ', N'3')
INSERT [dbo].[TBLKISILER] ([ID], [AD], [SOYAD], [TC], [TELEFON], [HESAPNO], [SIFRE]) VALUES (3, N'test2', N'test2', N'22222222222', N'(222) 222-2222 ', N'1     ', N'1')
SET IDENTITY_INSERT [dbo].[TBLKISILER] OFF
GO
